.ThirdBox {
    text-align: left;
    min-height: 100vh;
    padding: 70px 0;
    height: 100vh;
    width: 100vw;
  
    padding: 10px;
    font-size: 20px;
    
}

html,
body {
  margin: 0;
  padding: 0;
  
}
  
  * {
    box-sizing: border-box no-repeat center center fixed;
  }