.SecondBox {
    text-align: left;
    min-height: 100vh;
    padding: 70px 0;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
  
  * {
    box-sizing: border-box;
  }

  .SecondBoxContents {
    background: grey;
    width: 90%;
    margin: auto;
    opacity: .9;
  }