.project-container {
    position: relative;
    width: auto;
  }

  .projectRow {
    margin: auto;
    height: 22%;
  }
  
  .project-image {
    display: block;
    width: auto;
    height: 22%;
  }

  .projects-div {
      margin: auto;
      padding: 65px 65px 0px 65px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 22%;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
  
  .project-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  