#LinksContainer {
    height: 84px;
}

.MainLinksDiv {
	display: table;  
	margin: 0 auto;
}

ul#MainLinksList {
    list-style: none;
    padding: 0;
    padding-top: 20px;
	}
	ul#MainLinksList li {
        display: inline;
        font-size: 20px;
    }
    
.MainBox {
    text-align: center;
}

a{
    text-decoration: none;
}

.MainBoxContents {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

html,
body {
  margin: 0;
  padding: 0;
  background: url(https://lh3.googleusercontent.com/pw/ACtC-3dxSEVU-l7HE7Y72t5nk9fLKOw5njiwwR6JW_HVOGsWNRQ6rwfy3_A2mHu2amZTjOyhkeRySHDtHX7QTJXqrOpYwjbCoeyUMFezqpi-58ppwp24OVdSKU8wd5oc4W1e5ehck69O889C02nQs685O_VBlQ=w1203-h802-no?authuser=0)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


  
  * {
    box-sizing: border-box;
  }
  
  .MainBox {
    min-height: 100vh;
    /*  */
    padding: 70px 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
  
    padding: 10px;
    font-size: 20px;

  }